language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"
matrix:
  allow_failures:
    - python: "3.2"
    - python: "nightly"
  fast_finish: true

sudo: false

cache: pip
# Avoid pip log from affecting cache.
before_cache: rm -fv $"TRAVIS_BUILD_DIR"/.cache/pip/log/debug.log

install:
  - pip install unittest2
  - pip install coveralls

before_script:
  - export PYTHONPATH=$PYTHONPATH:$(pwd -P)
  - cd project_euler/test

# The coveralls module on PyPI (1.1) doesn't report branch coverage to
# Coveralls, but should in the next release (1.2).
script: coverage run --branch --source="../.." -m unittest2 discover --buffer

after_success: coveralls
