language: python
python:
  - "2.6"
  - "2.7"
  - "nightly"
matrix:
  allow_failures:
    - python: "nightly"
  fast_finish: true

sudo: false

cache: pip

install:
  - pip install unittest2
  - pip install coveralls

before_script:
  - export PYTHONPATH=$PYTHONPATH:$(pwd -P)
  - cd project_euler/test

script: coverage run --source="../.." -m unittest2 discover --buffer

after_success: coveralls
