# Repositories enabled from 2015 default to the container-based infrastructure.

language: python
python:
  - "2.6"
  - "2.7"
  - "nightly"
matrix:
  allow_failures:
    - python: "nightly"
  fast_finish: true

cache: pip

install:
  - pip install unittest2
  - pip install coveralls

before_script:
  - export PYTHONPATH=$PYTHONPATH:$(pwd -P)
  - cd project_euler/test

script: coverage run -m unittest2 --buffer discover

after_success: coveralls
